.container{
    display: block;
    margin: auto;
    height: 100vh;
}
@media screen and (min-width: 420px){
    .container{
        width: 420px;
    }
}
@media screen and (min-width: 720px){
    .container{
        width: 720px;
    }
}
@media screen and (min-width: 1440px){
    .container{
        width: 1440px;
    }
}