:root{
    --brand:#e17430;
    --brand-light:#ff6200;
    --success:#047a04;
    --text--title:#1DA233;
    --danger:#ca1111;
    --waring:#c9c71b;
    --border:#eeeeee;
    --text:#0b0b0b;
    --black:#000000;
    --white:#ffffff;
    --text-light:#222222;
}